<% provide(:title, "Page 1") %>


<div class="center jumbotron">
  <h1>Page 1</h1>
  <p>Page 1: Allows upload of multiple images at one time (one must be able to 
  multi-select the images to be uploaded using the system's Open File dialog).</p>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

