<p id="notice"><%= notice %></p>

<span class="post_attachment_id">
  <strong>Post:</strong>
  <%= @post_attachment.id %>
</span>
<br>
</span class="post_avatar">
  <strong>Avatar:</strong>
  <%= image_tag @post_attachment.avatar %>
</span>