<footer class="footer">
  <small>
    Wishpond Test Project 
    by Lestley Gabo
  </small>
  <nav>
    <ul>
      <li><%= link_to "Page 1",   '#' %></li>
      <li><%= link_to "Page 2", '#' %></li>
    </ul>
  </nav>
</footer>